<!DOCTYPE html>
<html lang="ru">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Расчет налога на автомобиль</title>
    </head>

    <body>
        <h1>Расчет налога на автомобиль</h1>
        <form action="/tax/calc" method="post">
            <label for="city_id">Номер региона: </label>
            <input type="text" name="city_id" required><br>

            <label for="hp_model">Количество лошадиных сил в автомобиле: </label>
            <input type="text" name="hp_model" required><br>

            <label for="tax_model">Налоговая ставка: </label>
            <input type="text" name="tax_model" required><br>

            <button type="submit">Рассчитать налог</button>
        </form>

        {% if message %}
            <p>{{ message }}</p>
        {% endif %}
    </body>
</html>