<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Добавить операцию</title>
</head>
    <body>
        <h1>Добавить операцию</h1>

        <form method="post">
            {{ form.hidden_tag() }}

            <p>{{ form.id.label }}</p>
            <p>{{ form.id() }}</p>

            <p>{{ form.operation_type.label }}</p>
            <p>{{ form.operation_type() }}</p>

            <p>{{ form.operation_amount.label }}</p>
            <p>{{ form.operation_amount() }}</p>

            <p>{{ form.operation_date.label }}</p>
            <p>{{ form.operation_date() }}</p>

            <p>{{ form.user_id.label }}</p>
            <p>{{ form.user_id() }}</p>

            {{ form.submit() }}

            <div>
                <a href="{{ url_for('logout') }}">Выйти</a>
                <a href="{{ url_for('operation.view_operation') }}">Операции</a>
            </div>
        </form>

        {% if message %}
            <p>{{ message }}</p>
        {% endif %}
    </body>
</html>
