<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Добавить операцию</title>
</head>
    <body>
        <h1>Добавить операцию</h1>

        <form action="{{ url_for('operation.add_operation') }}" method="post">
            <a href="{{ url_for('logout') }}">Выйти</a>
            <br><br>

            {{ form.hidden_tag() }}

            <p>{{ form.id.label }}</p>
            <p>{{ form.id() }}</p>

            <p>{{ form.operation_type.label }}</p>
            <p>{{ form.operation_type() }}</p>

            <p>{{ form.operation_amount.label }}</p>
            <p>{{ form.operation_amount() }}</p>

            <p>{{ form.operation_date.label }}</p>
            <p>{{ form.operation_date() }}</p>

            {{ form.submit() }}
        </form>

        {% if message %}
            <p>{{ message }}</p>
        {% endif %}
    </body>
</html>