<!DOCTYPE html>
<html lang="ru">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Журнал операций</title>
    </head>

    <body>
        <h1>Журнал операций</h1>

        <form method="post">
            <a href="{{ url_for('logout') }}">Выйти из аккаунта</a>
            <br><br>
            <a href="{{ url_for('operation.add_operation') }}">Добавить операцию</a>
            <br><br>
            <a href="{{ url_for('operation.change_operation') }}">Обновить операцию</a>
            <br><br>
            {{ form.hidden_tag() }}

            {{ form.from_date.label }}
            {{ form.from_date() }}
            <br><br>
            {{ form.end_date.label }}
            {{ form.end_date() }}

            {{ form.submit() }}
        </form>

        <h2>Лист операций</h2>
        <br><br>
        <ul>
            {% for operation in operations %}
                <li>{{ operation.date }} - {{ operation.amount }}</li>
            {% endfor %}
        </ul>
        <br><br>

        <p>Общий доход:   {{ total_income }}</p>
        <p>Общие расходы: {{ total_expense }}</p>
    </body>
</html>
