<!DOCTYPE html>
<html lang="ru">
    <meta charset="UTF-8">
    <head>
        <title>Вход</title>
    </head>

    <body>
        <h1>Вход</h1>

        {% if err_message %}
            <h3>{{ err_message }}</h3>
        {% endif %}

        <form action="/login" method="post">
            {{ form.hidden_tag() }}

            <p>{{ form.name.label }} {{ form.name() }}</p>
            <p>{{ form.password.label }} {{ form.password() }}</p>

            <p>{{ form.submit() }}</p>
        </form>
    </body>
</html>