<!DOCTYPE html>
<html lang="ru">
    <meta charset="UTF-8">
    <head>
        <title>Расчет налога на автомобиль</title>
    </head>
    <body>
        <h1>Расчет налога на автомобиль</h1>
        <form action="/v1/car/tax/calc" method="POST">
            {{ form.hidden_tag() }}

            <p>{{ form.code_rate.label() }}
            <p>{{ form.code_rate() }}

            <p>{{ form.year.label() }}
            <p>{{ form.year() }}

            <p>{{ form.horsepower.label() }}
            <p>{{ form.horsepower() }}

           {{ form.submit() }}
        </form>
        <p>{{ message }}</p>
    </body>
</html>