<!DOCTYPE html>
<html lang="ru">
    <meta charset="UTF-8">
    <head>
        <title>Вход в аккаунт</title>
    </head>

    <body>
        <h1>Вход в аккаунт</h1>

        {% if err_message %}
            <p>{{ err_message }}</p>
        {% endif %}

        <br><br>

        <form action="/login" method="post">
            <label for="name">Имя пользователя:</label>
            <input type="text" name="name" required>
            <br><br>
            <label for="password">Пароль:</label>
            <input type="password" name="password" required>
            <br><br>
            <button type="submit">Войти</button>
        </form>
    </body>
</html>